.page-title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20px;
}

.item {
    height: 100%;
}

.title-txt{
    font-size: 30px;
    font-weight: bold;
}

#page p {
    font-size: 20px;
    text-align: center;
}
