$base-text-color: rgba(0, 0, 0, 0.87);
$base-color: #ffffff;
$base-bg: #f2f2f2;
$base-border-color: #e0e0e0;
$base-accent: #F15D2A;
$base-background: #f2f2f2;
$base-hover: #FF6A37;
$base-border-radius: 4px;
