$base-text-color: rgba(0, 0, 0, 0.87);
$base-color: #ffffff;
$base-bg: #f2f2f2;
$base-border-color: #e0e0e0;
$base-accent:#00517d;
$base-background: #ffffff;
$base-hover:#007ec2;
$base-border-radius: 4px;
